[program:{{ INSTANCE_NAME }}-celery]
command={{ ENV_DIR }}/bin/python {{ PROJECT_DIR }}/manage.py celeryd worker --concurrency=1 --pool=eventlet --loglevel=info -n {{ SERVER_NAME }}
stdout_logfile={{ ENV_DIR }}/logs/celeryd.log
stderr_logfile={{ ENV_DIR }}/logs/celeryd-error.log
user=popcode
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600