[program:{{ INSTANCE_NAME }}-gunicorn]
command={{ ENV_DIR }}/bin/python {{ PROJECT_DIR }}/manage.py run_gunicorn 127.0.0.1:{{ GUNICORN_PORT }} -w 2 --log-level=error
stdout_logfile={{ ENV_DIR }}/logs/gunicorn.log
stderr_logfile={{ ENV_DIR }}/logs/gunicorn-error.log
user=ubuntu
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600